body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #f694c1, #ffa3a5, #fdba98, #edd09f, #dce4b7, #c8ebc7, #b9f0dc, #b2f3f2, #a5ebff, #ace0ff, #c5d2ff, #e4c1f9);
}