.input-container{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, #f694c1, #ffa3a5, #fdba98, #edd09f, #dce4b7, #c8ebc7, #b9f0dc, #b2f3f2, #a5ebff, #ace0ff, #c5d2ff, #e4c1f9);
}